.h3{
    margin: 20px 1px; 
    font-family:'Times New Roman', Times, serif;  
    }

body{   
margin-top:10px;
background-color: #f7f7fc;
}

.timeline {
    list-style-type: none;
    position: relative
}

.timeline:before {
    background: #dee2e6;
    left: 9px;
    width: 2px;
    height: 100%
}

.fila{
    text-align: center center; 
}

.subtext{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

