/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Serif Text', serif;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #F8F9FA;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }